.calculator-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0 auto;
}

.result-display {
  background-color: #858694;
  text-align: right;
  font-size: 40px;
  min-height: 55%;
  margin-block-start: 20%;
  padding: 2rem;
}

.result {
  color: rgb(247, 249, 249);
  padding: 0 10px;
  font-size: large;
  font-weight: bolder;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  width: 10rem;
  background-color: #c5c1c1;
  height: 5rem;
  font-size: 24px;
  border: 1px solid white;
  cursor: pointer;
}

.orange {
  background-color: #ea7a1e;
}

.double-row {
  width: 20rem;
}
